#Ports
APP_PORT=3000
ORDERS_PORT=3001
MAILER_PORT=3002
AUTH_PORT=3003
API_PORT=3004

#Redis
REDIS_HOST=redis
REDIS_PORT=6379

#Orders
ORDERS_DB_NAME=orders
ORDERS_DB_USER=orders_user
ORDERS_DB_PASSWORD=orders_pwd

#Auth
AUTH_DB_NAME=auth
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=aut_pwd
